<div class = "page-content">
	<div class="region header">
		{{page.header}}
		<div class = "sub-slogan">
			{{sub_slogan}}
		</div>
	</div>
	<div class="main-content-wrapper">
		<div class="region left-sidebar">
			{{page.left_sidebar}}
		</div>
		<div class="region content">
			{{page.content}}
		</div>
		<div class="region right-sidebar">
			{{page.right_sidebar}}
		</div>
	</div>
	<div class="region footer">
		{{page.footer}}
	</div>
</div>